<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <title>洗车商城</title>
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
</head>

<body class="white">
  <div class="body-container" id="app">
    <div class="signup_box">
      <ul>
        <li>
          <p class="tit">收货人</p>
          <input type="text" class="text left" placeholder="请输入" v-model='name'>
        </li>
        <li>
          <p class="tit">联系电话</p>
          <input type="text" class="text left" placeholder="请输入" v-model='mobile'>
        </li>
        <li>
          <p class="tit">所在地区</p>
          <input type="text" v-model='ProvinceAndCity' placeholder="请选择" @click='isShowAddress' class="text choice">
        </li>
        <li>
          <p class="tit">详细地址</p>
          <textarea placeholder="请输入详细的地址信息，如道路、小区、 门牌号等等" v-model='addressinfo'></textarea>
        </li>
      </ul>
    </div>
    <div class="submitbtn fixed">
      <button class="loginsubmit" @click='subAddress'>保存</button>
    </div>
    <div class="btnline"></div>
    <van-actionsheet v-model="show">
      <van-area :area-list="areaList" @confirm='onAddrConfirm' @cancel='cancelAddres' />
    </van-actionsheet>
  </div>

</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>
<script src="js/Address.js"></script>

<script>
  new Vue({
    el: '#app',
    data: {
      areaList: areaList,
      show: false,
      ProvinceAndCity: [],
      province: '',           // 省
      city: '',               // 市
      area: '',               // 区
      name: '',               // 收货人
      mobile: '',             // 电话
      addressinfo: '',        // 详细地址
      isdefault: 0,           // 是否为默认地址
      uid: '',
      provinceid: '',          // 省id
      cityid: '',              // 市id
      areaid: '',              // 区id
    },
    created() {
      this.uid = getItem('uid')
      console.log(this.uid)
    },
    methods: {
      async subAddress() {
        if (!this.name) {
          this.$toast('请输入收货人姓名');
          return
        }
        if (!this.mobile) {
          this.$toast('请输入收货人联系方式');
          return
        }
        if (!this.addressinfo) {
          this.$toast('请输入详细地址');
          return
        }
        if (!this.city || !this.area) {
          this.$toast('请输选择省市区');
          this.show = true
          return
        }
        console.log(this.province, this.city, this.area)
        this.$dialog.confirm({
          message: '是否设置为默认收货地址'
        }).then(() => {
          this.isdefault = 1
          this.addressadd()
        }).catch(() => {
          this.isdefault = 0
          this.addressadd()
        })
      },
      async addressadd() {
        const res = await axios.post('app/address/addressadd', {
          uid: this.uid,
          name: this.name,
          mobile: this.mobile,
          addressinfo: this.addressinfo,
          isdefault: this.isdefault,
          province: this.province,
          city: this.city,
          area: this.area,
          provinceid: this.provinceid,
          cityid: this.cityid,
          areaid: this.areaid
        })
        console.log(res)
        if (res.data.code == 200) {
          this.$dialog.alert({
            message: res.data.message
          }).then(() => {
            location.href = 'my_address.html'
          });
        }
      },
      // 确认选中
      onAddrConfirm(e) {
        let newArr = new Array
        let idArr = new Array
        let filteArr = new Array
        this.ProvinceAndCity = [],
          e.forEach(element => {
            this.ProvinceAndCity.push(element.name)
            idArr.push(element.code)
          })
        this.ProvinceAndCity.forEach(item => {
          if (newArr.indexOf(item) === -1) {
            newArr.push(item)
          }
        })
        console.log(newArr)
        console.log(idArr)
        this.provinceid = idArr[0]
        this.cityid = idArr[1]
        this.areaid = idArr[2]
        if (newArr.length == 2) {
          this.city = newArr[0]
          this.area = newArr[1]
        }
        if (newArr.length === 3) {
          this.province = newArr[0]
          this.city = newArr[1]
          this.area = newArr[2]
        }
        this.ProvinceAndCity = newArr.join(' ')
        this.show = false
      },
      // 取消选择
      cancelAddres() {
        this.show = false
      },
      isShowAddress() {
        this.show = true
      }
    },
  })
</script>


<!-- <script>
  $(function () {
    function getAddrsArrayById(id) {
      var results = [];
      if (addr_arr[id] != undefined)
        addr_arr[id].forEach(function (subArr) {
          results.push({
            key: subArr[0],
            val: subArr[1]
          });
        });
      else {
        return;
      }
      return results;
    }

    function getStartIndexByKeyFromStartArr(startArr, key) {
      var result = 0;
      if (startArr != undefined)
        startArr.forEach(function (obj, index) {
          if (obj.key == key) {
            result = index;
            return false;
          }
        });
      return result;
    }

    $("#myAddrs").click(function () {
      var PROVINCES = [],
        startCities = [],
        startDists = [];
      addr_arr[0].forEach(function (prov) {
        PROVINCES.push({
          key: prov[0],
          val: prov[1]
        });
      });

      var $input = $(this),
        dataKey = $input.attr("data-key"),
        provKey = 1,
        cityKey = 36,
        distKey = 37,
        distStartIndex = 0,
        cityStartIndex = 0,
        provStartIndex = 0;

      if (dataKey != "" && dataKey != undefined) {
        var sArr = dataKey.split("-");
        if (sArr.length == 3) {
          provKey = sArr[0];
          cityKey = sArr[1];
          distKey = sArr[2];

        } else if (sArr.length == 2) {
          provKey = sArr[0];
          cityKey = sArr[1];
        }
        startCities = getAddrsArrayById(provKey);
        startDists = getAddrsArrayById(cityKey);
        provStartIndex = getStartIndexByKeyFromStartArr(PROVINCES, provKey);
        cityStartIndex = getStartIndexByKeyFromStartArr(startCities, cityKey);
        distStartIndex = getStartIndexByKeyFromStartArr(startDists, distKey);
      }
      var navArr = [{
        title: "省",
        id: "scs_items_prov"
      }, {
        title: "市",
        id: "scs_items_city"
      }, {
        title: "区",
        id: "scs_items_dist"
      }];
      SCS.init({
        navArr: navArr,
        onOk: function (selectedKey, selectedValue) {
          $input.val(selectedValue).attr("data-key", selectedKey);
        }
      });
      var distScroller = new SCS.scrollCascadeSelect({
        el: "#" + navArr[2].id,
        dataArr: startDists,
        startIndex: distStartIndex
      });
      var cityScroller = new SCS.scrollCascadeSelect({
        el: "#" + navArr[1].id,
        dataArr: startCities,
        startIndex: cityStartIndex,
        onChange: function (selectedItem, selectedIndex) {
          distScroller.render(getAddrsArrayById(selectedItem.key), 0); //re-render distScroller when cityScroller change
        }
      });
      var provScroller = new SCS.scrollCascadeSelect({
        el: "#" + navArr[0].id,
        dataArr: PROVINCES,
        startIndex: provStartIndex,
        onChange: function (selectedItem, selectedIndex) {
          cityScroller.render(getAddrsArrayById(selectedItem.key), 0);
          distScroller.render(getAddrsArrayById(cityScroller.getSelectedItem().key), 0);
        }
      });
    });
  });
</script> -->