<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <title>洗车商城</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
  <style>
    .van-radio-group {
      float: left;
      margin-top: 11px;
      margin-right: 5px;
    }
  </style>
</head>

<body class="white">
  <div class="body-container" id="app">
    <div class="address_list">
      <ul>
        <li v-for='item in addresList' :key="item.id">
          <h1>{{item.name}} {{item.mobile}}</h1>
          <p>{{item.province + item.city + item.area}} {{item.addressinfo}}</p>
          <div class="operate">
            <input class="check" type="checkbox" v-model="item.isdefaul">
            <label for="dz1" @click='isDefaul(item.id)'>默认地址</label>
            <a href="javascript:;" class="del" @click='delAddress(item.id)'>删除</a>
          </div>
        </li>
        <!-- <li>
          <h1>李蜀水 188****7575</h1>
          <p>江苏省徐州市泉山区 淮海西路120号 颖都大厦8008</p>
          <div class="operate">
            <input type="radio" name="addr" id="dz2" class="check">
            <label for="dz2">默认地址</label>
            <a href="" class="del">删除</a>
          </div>
        </li> -->
      </ul>
    </div>
    <!--没有地址-->
    <!--<div class="noaddress">
      <img src="images/location1.png">
      <p>您还没有收货地址~ 添加一个吧！</p>
  </div>-->
    <div class="submitbtn fixed">
      <button class="loginsubmit" onclick="location.href = 'my_add_address.html'">新建地址</button>
    </div>
    <div class="btnline"></div>
  </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      uid: '',
      addresList: [],
      radio: '1'
    },
    created() {
      this.uid = getItem("uid");
      console.log(this.uid)
      this.getAddressList()
    },
    methods: {
      async getAddressList() {
        const res = await axios.get('app/address/addresslist', { params: { uid: this.uid } })
        console.log(res)
        const { data, code } = res.data
        if (code == 200) {
          this.addresList = data
        }
        console.log(this.addresList)
      },
      isDefaul(id) {
        console.log(id)
        this.$dialog.confirm({
          message: '是否设置为默认收货地址'
        }).then(() => {
          this.addressisdefault(id)
        }).catch(() => {
        });
      },
      async addressisdefault(id) {
        const res = await axios.patch('app/address/addressisdefault', {
          uid: this.uid,
          aid: id + ''
        })
        if (res.data.code == 200) {
          this.getAddressList()
        }
        console.log(res)
      },
      async delAddress(id) {
        try {
          await this.$dialog.confirm({ message: '是否删除该收货地址' })
          const res = await axios.delete('app/address/addressdelete', { params: { uid: this.uid, aid: id + '' } })
          if (res.data.code == 200) {
            this.getAddressList()
          }
        } catch (e) {
          this.$toast('取消删除');
        }

      }
    },
  })
</script>