<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <title>洗车商城</title>
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
  <script src="js/jquery.min.js"></script>
</head>

<body>
  <div class="body-container" id="app">
    <div class="white hidden">
      <div class="my-balance">
        <p>剩余必净币</p>
        <h1>{{bjingb}}</h1>
      </div>
    </div>
    <div class="account_details">
      <h1 class="tit"><span>必净币明细</span></h1>
      <ul>
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad" :immediate-check='false'>
          <li v-for='item in recordList'>
            <p class="fl eps">{{item.remark}}</p>
            <p class="fr add">+{{item.scores}}</p>
            <p class="time">{{item.addtime}}</p>
          </li>
        </van-list>
        <!-- <li>
          <p class="fl eps">消费赠送</p>
          <p class="fr add">+100</p>
          <p class="time">2019-06-28</p>
        </li>
        <li>
          <p class="fl eps">购物抵扣</p>
          <p class="fr">-100</p>
          <p class="time">2019-06-28</p>
        </li>
        <li>
          <p class="fl eps">消费赠送</p>
          <p class="fr add">+100</p>
          <p class="time">2019-06-28</p>
        </li> -->
      </ul>
    </div>
  </div>
</body>

</html>
<script src="js/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      uid: '',
      page: 1,
      loading: false,
      finished: false,
      isLogin: false,
      recordList: [],
      bjingb: ''
    },
    created() {
      this.uid = getItem('uid')
      this.bjingb = getQueryValue('bjb')
      console.log(this.uid)
      this.getscorebill()
    },
    methods: {
      async getscorebill() {
        const res = await axios.get('/app/user/scorebill', { params: { uid: this.uid, pageindex: this.page } })
        console.log(res)
        const { data, code } = res.data
        let countList = data
        this.loading = false;
        if (countList.length == 0) {
          console.log("到底了");
          this.finished = true;
        }
        this.recordList = this.recordList.concat(countList)
        console.log(this.recordList)
        // console.log(list)
      },
      onLoad() {
        this.page++;
        this.loading = true;
        this.getscorebill();
      },

    },
  })
</script>