<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <title>洗车商城</title>
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
  <script src="js/jquery.min.js"></script>
</head>

<body>
  <div class="body-container" id="app">
    <div class="fixed car-head blue">
      <a href="javascript:void(0)" class="fr" id="edit" onclick="changeVal(this);">编辑</a>
    </div>
    <div class="navs fixed collect">
      <ul class="shop-navs flex">
        <li><a href="my_collect_business.html">商家</a></li>
        <li class="active"><a href="my_collect_service.html">服务</a></li>
        <li><a href="my_collect_store.html">店铺</a></li>
        <li><a href="my_collect_goods.html">商品</a></li>
      </ul>
    </div>
    <div class="topline"></div>
    <div class="topline"></div>
    <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad" :immediate-check='false'>
      <div class="business-list" v-for='item in recordList' :key="item.id">
        <div class="bus-top bt120">
          <input type="checkbox" id="1" class="check">
          <label for="1"></label>
          <a @click='goodsinfo(item.gid)'>
            <img :src="item.image" class="w120">
            <div class="txt">
              <h1 class="eps">{{item.goodsname}}</h1>
              <div class="t_m">
                <span class="score">￥<span>{{item.price}}</span></span>
                <del>￥{{item.oldprice}}</del>
              </div>
              <div class="t_b">
                <p class="eps">{{item.storename}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </van-list>
    <!-- <div class="business-list">
      <div class="bus-top bt120">
        <input type="checkbox" id="2" class="check">
        <label for="2"></label>
        <a href="product_xq.html">
          <img src="images/spxq.jpg" class="w120">
          <div class="txt">
            <h1 class="eps">微镀晶洗车</h1>
            <div class="t_m">
              <span class="score">￥<span>298</span></span>
              <del>￥996</del>
            </div>
            <div class="t_b">
              <p class="eps">畅途养护·淮海西路店</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="business-list">
      <div class="bus-top bt120">
        <input type="checkbox" id="3" class="check">
        <label for="3"></label>
        <a href="product_xq.html">
          <img src="images/spxq.jpg" class="w120">
          <div class="txt">
            <h1 class="eps">微镀晶洗车</h1>
            <div class="t_m">
              <span class="score">￥<span>298</span></span>
              <del>￥996</del>
            </div>
            <div class="t_b">
              <p class="eps">畅途养护·淮海西路店</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="business-list">
      <div class="bus-top bt120">
        <input type="checkbox" id="4" class="check">
        <label for="4"></label>
        <a href="product_xq.html">
          <img src="images/spxq.jpg" class="w120">
          <div class="txt">
            <h1 class="eps">微镀晶洗车</h1>
            <div class="t_m">
              <span class="score">￥<span>298</span></span>
              <del>￥996</del>
            </div>
            <div class="t_b">
              <p class="eps">畅途养护·淮海西路店</p>
            </div>
          </div>
        </a>
      </div>
    </div> -->
  </div>
  <nav class="nav_list">
    <input type="checkbox" id="all" class="check">
    <label for="all">全选</label>
    <a href="mall_buy.html" class="buy rads red">删除</a>
  </nav>
  <div class="footline"></div>
  </div>
</body>

</html>
<script src="js/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>

<script>
  new Vue({
    el: '#app',
    data: {
      uid: '',
      page: 1,
      loading: false,
      finished: false,
      isLogin: false,
      recordList: [],
    },
    created() {
      this.uid = getItem('uid')
      console.log(this.uid)
      this.getMycollectservergoods()
    },
    methods: {
      async getMycollectservergoods() {
        const res = await axios.get('/app/user/mycollectservergoods', {
          params: {
            uid: this.uid,
            pageindex: this.page,
            type: 1
          }
        })
        console.log(res)
        const { data, code } = res.data
        let countList = data
        this.loading = false;
        if (countList.length == 0) {
          console.log("到底了");
          this.finished = true;
        }
        this.recordList = this.recordList.concat(countList)
        console.log(this.recordList)
      },
      onLoad() {
        this.page++;
        this.loading = true;
        this.getMycollectservergoods();
      },
      goodsinfo(id) {
        // href = "product_xq.html"
        console.log(id)
      }
    },
  })

</script>

<script>
  $(function () {
    $('.nav_list,.footline').hide();
    $('.check + label').hide();
    function changeVal(obj) {
      var val = document.getElementById("edit");
      if (val.innerHTML == "编辑") {
        obj.innerHTML = "完成";
        $('.nav_list,.footline').show();
        $('.check + label').show();
        $('.business-list .bus-top .txt').addClass('short');
      } else if (val.innerHTML == "完成") {
        obj.innerHTML = "编辑";
        $('.nav_list,.footline').hide();
        $('.check + label').hide();
        $('.business-list .bus-top .txt').removeClass('short');
      }
    }
    document.changeVal = changeVal
  })

</script>