<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <title>洗车商城</title>
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <style>
    .van-popup {
      background-color: rgba(0, 0, 0, 0);
    }
  </style>
</head>

<body>
  <div class="body-container" id="app">
    <div class="refund-box">
      <p class="refd-tit">物流公司</p>
      <input type="text" class="text select" v-model='name' placeholder="请选择" readonly="readonly"
        @click='isShowExpress'>
      <p class="refd-tit">物流单号</p>
      <input type="text" class="text" placeholder="请输入" v-model='expno'>
    </div>
    <div class="select_box"></div>
    <div class="submitbtn fixed">
      <button class="loginsubmit" @click='isSubmit'>提交</button>
    </div>
    <div class="btnline"></div>
    <van-actionsheet v-model="isShow">
      <van-picker :columns="expressList" title="物流公司" @confirm="onConfirmType" show-toolbar />
    </van-actionsheet>
  </div>
</body>

</html>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      uid: '',
      rid: '',
      isShow: false,
      expressList: [],
      name: '',
      expno: '',
      logisticsList: [],
      expid: ''
    },
    created() {
      this.uid = getItem('uid')
      this.rid = getQueryValue('rid')
      console.log(this.rid)
      this.getlogistics()
    },
    methods: {
      async getlogistics() {
        const res = await axios.get('app/tool/logistics')
        this.logisticsList = JSON.parse(JSON.stringify(res.data.data))

        res.data.data.forEach(item => this.expressList.push(item.name))
        console.log(this.expressList)
      },
      onConfirmType(value) {
        let newList = new Array
        this.name = value
        newList = this.logisticsList.filter(item => item.name == value)
        this.expid = newList[0].id
        this.isShow = false
      },
      isShowExpress() {
        this.isShow = true
      },
      async isSubmit() {
        const res = await axios.patch('app/returnorder/sureback', {
          uid: this.uid,
          rid: this.rid,
          name: this.name,
          code: this.expno,
          exportid: this.expid
        })
        console.log(res)
        const { data, code } = res.data
        if (code == 200) {
          this.$dialog.alert({
            message: '提交成功'
          }).then(() => {
            location.href = 'second-hand.html'
          });
        }
      }
    },
  })
</script>

<!-- <script>
  $(function() {
    var hgS1 = new selectSwiper({
      el: '.select_box',
      data: ['圆通快递', '申通快递', '顺丰'],
      init: function(index) {
        if (index !== -1) {
          $('.select').val(this.data[index]);
        }
      },
      okFunUndefind: function() {
        alert('必须选择一项');
        return false;
      },
      okFun: function(index) {
        console.log(index);
        $('.select').val(this.data[index]);
      },
      closeFun: function() {
        console.log('取消');
      },
    });
    $('.select').on('click',
      function() {
        hgS1.openSelectSwiper();
      });
  })
</script> -->