<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <style>
    .van-popup {
      background-color: rgba(0, 0, 0, 0);
    }

    .express {
      background-color: #fff;
      height: 150px;
    }
  </style>
</head>

<body>
  <div class="body-container" id="app">
    <div class="order-box1">
      <div class="ord-situ">
        <h1>待发货</h1>
      </div>
      <div class="make_sure_order marg0">
        <div class="my_title bleft">
          <h1>商品信息</h1>
        </div>
        <ul>
          <li v-for='item in orderinfo'>
            <a @click='goodsInfo(item.gid)'><img :src="item.goodsimage"></a>
            <div class="info long">
              <a>
                <h1 class="clamp2">{{item.goodsname}}</h1>
              </a>
              <div class="weight">
                <p class="p1"><em>￥</em>{{item.goodsprice}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="sumbit-box mhgt">
      <div class="my_title bleft">
        <h1>买家信息</h1>
      </div>
      <li>
        <p class="fl">收货人</p>
        <p class="fr">{{model.receiver}}</p>
      </li>
      <li>
        <p class="fl">联系电话</p>
        <p class="fr">{{model.mobile}}</p>
      </li>
      <li>
        <p class="fl">收货地址</p>
        <p class="fr">{{model.addressinfo}}</p>
      </li>
    </ul>
    <div class="sumbit-box">
      <a class="logistics" @click='expressInfo'>物流信息</a>
    </div>
    <nav class="nav_list">
      <a href="my_danhao.html" class="buy rads">去发货</a>
    </nav>
    <div class="footline"></div>
    <van-popup v-model="show" position="bottom">
      <div class="express">
        <van-panel title="快递公司" :status="model.transporttype">
        </van-panel>
        <van-panel title="快递单号" :status="model.expno">
        </van-panel>
      </div>
    </van-popup>
  </div>
</body>

</html>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      uid: '',
      oid: '',
      model: '',
      orderinfo: [],
      show: false

    },
    created() {
      this.uid = getItem('uid')
      this.oid = getQueryValue('oid')
      console.log(this.oid)
      this.getOrderinfo()
    },
    methods: {
      async getOrderinfo() {
        const res = await axios.get('/app/order/orderinfo', {
          params: {
            uid: this.uid,
            oid: this.oid
          }
        })
        const { data, code } = res.data
        this.model = data.model
        this.orderinfo = data.orderinfo
        console.log(this.model)
        console.log(this.orderinfo)
      },
      expressInfo() {
        this.show = true
      },
      goodsInfo(gid) {
        location.href = `mall_product_xq.html?gid=${gid}`
      }
    },
  })
</script>