<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    name="viewport" id="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <title>洗车商城</title>
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <style>
    .van-popup {
      background-color: rgba(0, 0, 0, 0);
    }
  </style>
</head>

<body>
  <div class="body-container" id="app">
    <div class="order-status">
      <div class="flex">
        <h1 v-if='order.orderstatus == 1'>待付款</h1>
        <h1 v-if='order.orderstatus == 7'>待使用</h1>
        <h1 v-if='order.orderstatus == 4'>已取消</h1>
        <h1 v-if='order.orderstatus == 3'>已完成</h1>
        <h1 v-if='order.orderstatus == 8'>退款申请中</h1>
        <h1 v-if='order.orderstatus == 9'>已退款</h1>
        <p v-if='order.orderstatus == 1'>剩余时间 01:00:22</p>
      </div>
    </div>
    <div class="business-list margtfu">
      <div class="order-top">
        <h1 class="fl eps name">{{order.storename}}</h1>
      </div>
      <div class="bus-top">
        <a href="order_xq.html">
          <img :src="img" class="small">
          <div class="txt">
            <h2 class="eps">微镀晶洗车</h2>
            <p class="num">× {{order.goodsnums}}</p>
            <p class="price">￥{{order.orderamount}}</p>
          </div>
        </a>
      </div>
      <div class="coupon-code">
        <h2 class="qmxx">券码信息</h2>
        <div class="cell" v-for='item in orderInfo'>
          <p class="fl" v-if='item.usestate == 0 && item.cardcode '><em>·</em> {{item.cardcode}}</p>
          <del class="fl" v-if='item.usestate == 1 && item.cardcode'><em>·</em> {{item.cardcode}}</del>
          <a class="fr return" v-if='item.refundstatus == 0 && order.orderstatus == 7'
            @click='singleRefund(item.childeroid)'>退款</a>
          <a href="" class="fr used" v-if='item.usestate == 1'>已使用</a>
        </div>
        <!-- <div class="cell">
          <del class="fl"><em>·</em> 2762 7729 6703</del>
          <a href="" class="fr used">已使用</a>
        </div> -->
      </div>
    </div>
    <ul class="sumbit-box">
      <li>
        <p class="fl">手机号</p>
        <p class="fr">{{order.mobile}}</p>
      </li>
      <li>
        <p class="fl">备注</p>
        <p class="fr" v-if='order.ordermessage == ""'>无</p>
        <p class="fr" v-if='order.ordermessage'>{{order.ordermessage}}</p>
      </li>
    </ul>
    <ul class="sumbit-box">
      <li>
        <p class="fl">订单编号</p>
        <p class="fr">{{order.orderno}}</p>
      </li>
      <li>
        <p class="fl">下单时间</p>
        <p class="fr">{{order.createtime}}</p>
      </li>
    </ul>
    <ul class="sumbit-box">
      <li>
        <p class="fl">商品总额</p>
        <p class="fr">￥{{order.orderamount}}</p>
      </li>
      <li>
        <p class="fl">优惠券</p>
        <p class="fr price">-￥{{order.voucherprice}}</p>
      </li>
    </ul>
    <ul class="sumbit-box">
      <li>
        <p class="fl">必净币抵用</p>
        <p class="fr price">-￥{{order.ordercouponmoney}}</p>
      </li>
    </ul>
    <ul class="sumbit-box">
      <li>
        <p class="fl">实付款</p>
        <p class="fr price">￥{{order.finalamount}}</p>
      </li>
    </ul>
    <!-- <ul class="sumbit-box">
      <li>
        <p class="fl">详细说明</p>
        <p class="fr">详细说明详细说明详细说明</p>
        <div class="clear img-info">
          <p>临时有事，用不上了，以后再来~</p>
          <div class="flex-album">
            <div class="pic"><img src="images/shop.png"></div>
            <div class="pic"><img src="images/shop.png"></div>
            <div class="pic"><img src="images/shop.png"></div>
          </div>
        </div>
      </li>
    </ul> -->
    <nav class="nav_list">
      <a @click='pay(order.orderid,order.finalamount)' class="buy rads" v-if='order.orderstatus == 1'>去支付</a>
      <a @click='cancelOrder(order.orderid)' class="cancel"
        v-if='order.orderstatus == 1 || order.orderstatus == 7'>取消订单</a>
      <a @click='refund(order.orderid,order.sid)' class="cancel"
        v-if='order.orderstatus !== 4 && order.orderstatus !== 1 && order.orderstatus !== 8 &&order.ispartactivity !== 1 && order.orderstatus !== 9 && order.orderstatus !== 5'>申请退款</a>
    </nav>
    <div class="footline"></div>
  </div>
</body>

</html>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script src="js/ran.util.js"></script>
<script src="js/app.js"></script>
<script src="js/axios.js"></script>
<script src="js/axios.conf.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      uid: '',
      oid: '',
      order: {},
      orderInfo: [],
      orderid: '',
      sid: '',
      img: ''
    },
    created() {
      this.uid = getItem('uid')
      this.oid = getQueryValue('oid')
      this.getOrderinfo()
    },
    methods: {
      async getOrderinfo() {
        const res = await axios.get('/app/order/orderinfo', {
          params: {
            uid: this.uid,
            oid: this.oid
          }
        })
        console.log(res)
        const { data, code } = res.data
        this.order = data.model
        this.orderInfo = data.orderinfo
        this.orderid = data.model.orderid
        this.sid = data.model.sid
        this.img = data.orderinfo[0].goodsimage
        // console.log(this.img)
        // console.log(this.orderid)
        // console.log(this.orderInfo)
        console.log(this.order)
      },
      singleRefund(childeroid) {
        location.href = `apply_refund.html?oid=${this.orderid}&sid=${this.sid}&childeroid=${childeroid}`
      },
      pay(oid, paymoney) {
        let payInfo = {
          oid,
          paymoney
        }
        sessionStorage.setItem("payInfo", JSON.stringify(payInfo));
        location.href = `pay.html?`
      },
      cancelOrder(oid) {
        this.$dialog.confirm({
          message: '是否取消该订单'
        }).then(() => {
          this.cancelorder(oid)
        }).catch(() => {
          // on cancel
        });
      },
      async cancelorder(oid) {
        const res = await axios.patch(`app/order/cancelorder?uid=${this.uid}&oid=${oid}`)
        console.log(res)
        if (res.data.code == 200) {
          this.$toast('已取消该订单')
        } else {
          this.$toast(res.data.message)
          this.getOrderinfo()
        }
      },
      refund(oid, sid) {
        location.href = `apply_refund.html?oid=${oid}&sid=${sid}`
      },
    },
  })
</script>